body {
    background-color: rgb(130, 130, 226);
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    list-style: none;
    padding: 25px 30px;
    margin: 20px;
    border-radius: 10px;
    border: white solid 9px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

img {
width:500px;


}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}


  h1 {
      text-align: center;
  }

  h3 {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px 15px;
    text-align: left;
    
  }

  .center-text {
    border-radius: 10px;
    border: white solid 8px;
    width: 600px;
    height: 50%;
    margin-top: 100px;
  }