body {
    background-color: rgb(130, 130, 226);
    font-family: serif;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    list-style: none;
    padding: 25px 30px;
    margin: 20px;
    border-radius: 10px;
    border: white solid 9px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }



  .works-title {
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 500px;
    border-radius: 10px;
    border: white solid 9px;
    width: 600px;
  }

  p {
    padding: 5px 15px;
    text-align: left;
    font-size: 20px;
    line-height: 33px;
  }

  h2 {

    text-align: center;
    font-size: 25px;
  
  }

  .children-info {
    
    
  }

  .center-text {
        border-radius: 10px;
        border: white solid 8px;
        width: 700px;
        height: 50%;
        margin-top: 150px;
  }

  .center-text p {
      font-size: 18px;
  }

  h3 {
      text-align: left;
      font-size: 20px;
      padding-left:15px;
  }