<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style/aboutStyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="box" href="/">Home</a></li>
        <li><a class="box" href="/about">About</a></li>
        <li><a class="box" href="/works">Works</a></li>
        <li><a class="box" href="/photogallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <h3>About Martha </h3>
    <div>
        <p>
            Born in Medellin, Colombia and raised in Miami, U.S.A., Martha is the product of a traditional family 
            with strong will and relentless drive. As a mom, she proved to be the rock of the family when 
            financial troubles shook our core. She would never stop showing us the love and adoration she felt 
            for us regardless of the environment around us. 
        </p>
    </div>

    <div>
        <h4>Her Hobbies</h4>
        <ul>
            <li>Bothering Linda</li>
            <li>Gardening</li>
            <li>Cheerleading her kids</li>
            <li>Cooking</li>
            <li>Learning French</li>
            <li>Speaking a combination of French and Spanish gibberish</li>
        </ul>
    </div>

    <div>
        <h4>Famous Quotes by Martha</h4>
        <ul>
        <li>"Ponte las Pilas"</li>
        <li>"Hoy no cocino. Que quieren de McDonalds?"</li>
        <li>"Me voy para Cuba"(only said in times of anger)</li>
        <li>"Tu padre tiene cabeza de piedra"</li>
        <li>"Eso mi Lore!" (Cheerleading)</li>
        <li>"Voy a llamar a tu padre" (not a cheerleading moment)</li>
    </ul>
    </div>
    
     </body>
</html>
