<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Martha Villa</title>
    <link rel="stylesheet" href="/style/homeStyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="box" href="/">Home</a></li>
        <li><a class="box" href="/about">About</a></li>
        <li><a class="box" href="/works">Works</a></li>
        <li><a class="box" href="/photogallery">Photo Gallery</a></li>
      </ul>
    </nav>

    

    <div class="container">
      <img src="./images/Mom-and-me.jpg" alt="Mom and Twins">
    
      <div class="center-text">
        <h1>Martha Villa</h1>
        <h3>Welcome to our Mom Appreciation Site!</h3>
        <br>
        <br>
         <p>
           Indeed this is cheesy, but that's the point of an appreciate post, 
           especially if it's the person who raised you. We have to go full-force on the cheesiness 
           and show them that we care every now and then 🙂
        </p>
        <br>
        <br>
        <br>
        <p>
          Here you'll learn about who exactly is Martha Villa and why is she so special to me and her family. 
          So go ahead and look around. Maybe you'll figure out just why she has this website for her ☺️
        </p>
    </div>
  </div>
  
  </body>
</html>
