<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style/homeStyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photogallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <h1>Martha Villa</h1>
    <h3>Welcome to our Mom Appreciation Site!</h3>
    <h4>Indeed this is cheesy, but that's the point of an appreciate post, 
        especially if it's the person who raised you. We have to go full-force on the cheesiness 
        and show them that we care every now and then 🙂</h4>
     </body>
</html>
