<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
      <div>
        <img src="./images/Cindy-and-Mom.jpg" alt="Cindy and Mom">
        <img src="./images/Mom-and-Dad-officially-voters.jpg" alt="Mom and Dad Officially Voters">
        <img src="./images/Mom-And-Dad.jpg" alt="Mom and Dad">
        <img src="./images/Mom-and-Daniel.jpg" alt="Mom and Daniel">
        <img src="./images/Mom-and-Diego.jpg" alt="Mom and Diego">
        <img src="./images/Mom-and-me.jpg" alt="Mom and Me">
        <img src="./images/Mom-and-Twins.jpg" alt="Mom and Twins">
        <img src="./images/Moms-Cooking-Show.jpg" alt="Mom's Cooking Show">
        <img src="./images/My-sister-Me-and-Mom.jpg" alt="My sister, me, and Mom">
        <img src="./images/One-of-those-family-vacations.jpg" alt="Family Vacation">
        <img src="./images/Very-80s-photoshoot.jpg" alt="Very 80's Photoshoot">
        <img src="./images/Weird-Easter-Bunny-and-Mom.jpg" alt="Weird Easter Bunny and Mom">
        </div>
    </body>
</html>