<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style/photogalleryStyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="box" href="/">Home</a></li>
        <li><a class="box" href="/about">About</a></li>
        <li><a class="box" href="/works">Works</a></li>
        <li><a class="box" href="/photogallery">Photo Gallery</a></li>
      </ul>
    </nav>
      <div class="photos">
        <div>
         <img src="./images/Cindy-and-Mom.jpg" alt="Cindy and Mom">
         <p>Cindy and Mom</p>
         </div>
         <div>
          <img src="./images/Mom-and-Dad-officially-voters.jpg" alt="Mom and Dad Officially Voters">
          <p>Mom and Dad Officially Voters</p>
        </div>
        <div>
          <img src="./images/Mom-And-Dad.jpg" alt="Mom and Dad">
          <p>Mom and Dad</p>
        </div>
        <div>
          <img src="./images/Mom-and-Daniel.jpg" alt="Mom and Daniel">
          <p>Mom and Daniel</p>
        </div>
        <div>
          <img src="./images/Mom-and-Diego.jpg" alt="Mom and Diego">
          <p>Mom and Diego</p>
        </div>
        <div>
          <img src="./images/Mom-and-me.jpg" alt="Mom and Me">
          <p>Mom and Me</p>
        </div>
        <div>
        <img src="./images/Mom-and-Twins.jpg" alt="Mom and Twins">
        <p>Mom and Twins</p>
        </div>
        <div>
        <img src="./images/Moms-Cooking-Show.jpg" alt="Mom's Cooking Show">
        <p>Mom's Cooking Show</p>
        </div>
        <div>
          <img src="./images/My-sister-Me-and-Mom.jpg" alt="My sister, me, and Mom">
          <p>My Sister, Mom, and Me</p>
        </div>
        <div>
          <img src="./images/One-of-those-family-vacations.jpg" alt="Family Vacation">
          <p>One of Those Family Vacations</p>
        </div>
        <div>
          <img src="./images/Very-80s-photoshoot.jpg" alt="Very 80's Photoshoot">
          <p>Very 80's Photoshoot</p>
        </div>
        <div>
        <img src="./images/Weird-Easter-Bunny-and-Mom.jpg" alt="Weird Easter Bunny and Mom">
        <p>Weird Easter Bunny and Mom Acting Normal</p>
        </div>
        </div>
    </body>
</html>