<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style/worksStyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="box" href="/">Home</a></li>
        <li><a class="box" href="/about">About</a></li>
        <li><a class="box" href="/works">Works</a></li>
        <li><a class="box" href="/photogallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <div class="works-title">
    <h2>Martha's Works</h2>
        <p>
            Well, I consider her greatest works to be her children (maybe husband too). So, let's showcase a bit of that!
        </p>
    </div>
    <div class="children-info"> 
      <div class="center-text">
        <h3>George - The husband</h3>
        <p>I live in Miami
          I’m retired
          I enjoy quiet days
          I like to sing and practice my guitar
          I love a nice meal with wine 🍷</p>
        </div>
          <img src="./images/George.jpg" alt="George Villa">
        
        <div class="center-text"> 
          <h3>Diego - The eldest</h3>
          <p>My name is Diego. I live in Orlando, Fl with Mickey. I’m a teacher</p>
        </div> 
          <img src="./images/Diego.jpg" alt="Diego Villa">
        
        <div class="center-text">
          <h3>Leidy - The middle-est</h3>
         <p>
          Leidy is the kind of girl who can’t decide 
          how to write three sentence about herself. She’s 
          the kind of person who doesn’t enjoy talking about herself and 
          would much rather listen to others. I guess you can say Leidy 
          is an introvert in extrovert clothing because of 
          her caring and personable demeanor. And she lives 
          in Los Angeles. 🌸
        </p>
      </div>
        <img src="./images/Leidy.jpg" alt="Leidy Villa">

        
        <div class="center-text">
          <h3>Linda - The middle-est</h3>
          <p>Hi, I'm Linda and I'm product of an annoying 
            twin sister and 2 brothers! I love animals, mysticism, spirituality, 
            and questioning my comfort zone. In terms 
            of food, you'll find me at an Indian restaurant. 
            Bye for now! 🌻 </p>
          </div>
            <img src="./images/Linda.jpg" alt="Linda Villa">

        <div class="center-text">
          <h3>Daniel - The youngest</h3>
          <p>Hi I’m Daniel I live in Arizona and I’m an Air Force 
            structural maintainer and I also like quiet days 
            and working on my cars 🚗</p>
          </div>
            <img src="./images/Daniel.jpg" alt="Daniel Villa">
    </div>
</body>
</html>