<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style/worksStyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="box" href="/">Home</a></li>
        <li><a class="box" href="/about">About</a></li>
        <li><a class="box" href="/works">Works</a></li>
        <li><a class="box" href="/photogallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <h3>Martha's Works</h3>
    <div>
        <p>
            Well, I consider her greatest works to be her children (maybe husband too). So, let's showcase a bit of that!
        </p>
    </div>
    <div>
        <h5>Diego - The eldest</h5>
        <p></p>
        <h5>Leidy - The middle-est</h5>
        <p></p>
        <h5>Linda - The middle-est</h5>
        <p></p>
        <h5>Daniel - The youngest</h5>
        <p></p>
    </div>
</body>
</html>